<% provide(:title, 'Sign in') %>
<h2 class="uk-heading-divider">Sign in</h2>

<div class="row h-100 justify-content-center align-items-center">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <div class='uk-margin-bottom'>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'uk-input' %>
      </div>

      <div class='uk-margin-bottom'>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'uk-input' %>
      </div>

      <%= f.submit 'Sign in', class: 'uk-margin-bottom uk-button uk-button-secondary teal' %>
    <% end %>
</div>
<div>

    <p>New user? <%= link_to 'Sign up now!', signup_path %></p>

</div>
