<% provide(:title, "Edit user") %>
<h2 class="uk-heading-divider">Update your profile</h2>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="uk-margin-bottom">
    <%= f.label :name %>
    <%= f.text_field :name, class: "uk-input" %>
  </div>

  <div class="uk-margin-bottom">
    <%= f.label :email %>
    <%= f.text_field :email, class: "uk-input" %>
  </div>

  <div class="uk-margin-bottom">
    <%= f.label :city %>
    <%= f.text_field :city, class: "uk-input" %>
  </div>

  <div class="uk-margin-bottom">
    <%= f.label :state %> <br>
    <%= f.select :state, CS.states(:us), class: "uk-input" %>
  </div>

  <div class="uk-margin-bottom">
    <%= f.label :password %>
    <%= f.password_field :password, class: "uk-input" %>
  </div>

  <div class="uk-margin-bottom">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: "uk-input" %>
  </div>

  <%= f.submit "Save changes", class: "uk-button uk-button-secondary teal" %>
<% end %>

