<% provide(:title, @user.name) %>

<%= render 'shared/user_info' %>

<% if current_user?(@user) %>

  <%= render 'users/feed' %>

<% else %>

  <%= render 'follow_form' if signed_in? %>

  <% if @user.tags.any? %>

    <h3>Users's interests</h3>

    <ul>
      <% @user.tags.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
    </ul>
  <% end %>

<% end %>

<%= render 'shared/event_table', events: @user.upcoming_events, title: 'Upcoming Events' %>
