<% @user ||= current_user %>
<ul class="uk-list">
  <li>
    <a href="<%= created_events_user_path(@user) %>">
    <strong id="created" class="stat">
      <%= @user.created_events.count %>
    </strong>
    created events
  </a>
  </li>

  <li>
    <a href="<%= past_events_user_path(@user) %>">
      <strong id="attending" class="stat">
        <%= @user.past_events.count %>
      </strong>
      past events
    </a>
  </li>

  <li>
    <a href="<%= following_user_path(@user) %>">
      <strong id="following" class="stat">
        <%= @user.followed_users.count %>
      </strong>
      following
    </a>
  </li>

  <li>
    <a href="<%= followers_user_path(@user) %>">
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
      followers
    </a>
  </li>
</ul>