<% @user ||= current_user %>
<div class="row">
  <div class="col-md-6 text-center">
    <span class="float-md-left">
        <section>
          <h1>
            <% if gravatar_for @user %>
              <a href="<%= user_path(@user) %>">
                <%= gravatar_for @user, size: 50 %>
              </a>
            <% end %>
            <span class="uk-margin-left"><%= @user.name %></span>
          </h1>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
    </span>
  </div>
  <% if current_user?(@user) %>

    <div class="col-md-6 text-center">
    <span class="float-md-right">
        <%= link_to 'Create a new event!', newevent_path, class: 'uk-button uk-button-secondary teal' %>
    </span>
    </div>
  <% end %>
</div>
<hr>