<div>
  <div class="uk-card uk-card-hover uk-card-default uk-card-body">

    <div class="uk-child-width-1-2@s uk-grid-collapse uk-text-center" uk-grid>

      <div class="uk-text-center" uk-grid>
        <div class="uk-width-1-4">
          <time class="date-display" datetime="<%= event.event_date %>">
            <span class="day"><%= day(event.event_date) %></span><br>
            <span class="month"><%= month(event.event_date)%></span>
          </time>
        </div>
        <div class="uk-width-3-4">
          <div class="small-text">
            <time class="" datetime="<%= event.event_date %>">
              <span class="month"><%= month(event.event_date)%></span>
              <span class="day"><%= day(event.event_date) %>,</span>
              <span class="year"><%= year(event.event_date) %>,</span>
              <span class="time"><%= time(event.event_start_time) %></span>
            </time>
          </div>
          <a class="uk-link-text" href="<%= event_url(event)%>">
            <h3 class="uk-margin-remove"><%= event.title %></h3>
          </a>
          <div><span class="small-text">Hosted by</span> <%= event.event_host %></div>
        </div>
      </div>

      <div class="uk-text-center">
        <% if event.num_attending %>
          <div class="uk-margin-large-left">
            <%= event.num_attending %> attending
          </div>
        <% end %>

        <div class="uk-margin-large-left">
          Category: <%= event.category.name %>
        </div>

        <% if event.tags.length > 0 %>
          Interests: <% event.tags.each do |tag| %>
            <button class="uk-button uk-button-text"><%= tag.name %></button>
          <% end %>
        <% end %>

        <% if signed_in? %>
          <% if current_user.attending?(event) %>
            <span class="uk-margin-left uk-badge">Attending</span>
          <% end %>

          <% if event.creator == current_user %>
            <%= link_to "edit", edit_event_url(event) %>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>

</div>