<tr class="uk-table-link">

  <td>
    <time datetime="<%= event.event_date %>">
      <span class="day"><%= day(event.event_date) %></span>
      <span class="month"><%= month(event.event_date)%></span>
      <span class="year"><%= year(event.event_date) %></span><br>
      <span class="time">Starts <%= time(event.event_start_time) %></span>
    </time>
  </td>

  <td class="uk-table-link">
    <button class="uk-button uk-button-text uk-padding-small">
      <a class="uk-link-reset" href="<%= event_url(event)%>"><%= event.title %></a>
    </button>
  </td>

  <td class=""><%= event.event_host %></td>
  <td class=""><%= event.category %></td>
  <td class=""><%= event.num_attending %> attending</td>
  <% if event.tags.length > 0 %>
    <td class="">
      Interests: <% event.tags.each do |tag| %>
        <button class="uk-button uk-button-default"><%= tag.name %></button>
      <% end %>
    </td>
  <% end %>

  <td>
    <% if signed_in? %>
      <% if current_user.attending?(event) %>
        Your RSVP Status is <strong><%= Attendance.rsvp_status(event, current_user) %></strong>
        <span class="glyphicon glyphicon-ok"></span>
      <% end %>

      <% if event.creator == current_user %>
        <td><%= link_to "edit", edit_event_url(event) %></td>
      <% end %>
    <% end %>
    </tr>