<div class="event-card uk-card uk-card-default uk-width-1-2">
  <div class="uk-card-header">
    <div class="uk-grid-small uk-flex-middle" uk-grid>
      <div class="uk-width-auto">
      </div>
      <div class="uk-width-expand">
        <h3 class="uk-card-title uk-margin-remove-bottom">
          <%= event.title %>
        </h3>
        <p class="uk-text-meta uk-margin-remove-top">
          <time datetime="<%= event.event_date %>">
            <span class="day"><%= day(event.event_date) %></span>
            <span class="month"><%= month(event.event_date)%></span>
            <span class="year"><%= year(event.event_date) %></span>
            <span class="time">ALL DAY</span>
          </time>
        </p>
      </div>
    </div>
  </div>
  <div class="uk-card-body">
    <div class="info">
      <p class="title"><%= event.event_host%></p>
      <p class="desc"><%= event.title %></p>
      <p class="desc">Category: <%= event.category %></p>
      <% if event.num_attending > 0 %>
        <p class="desc">Attending: <%= event.num_attending %></p>
      <% end %>
      <% if event.tags.length > 0 %>
        <p class="desc">
          Interests: <% event.tags.each do |tag| %>
            <button type="button" class="btn btn-secondary btn-sm"><%= tag.name %></button>
          <% end %>
        </p>
      <% end %>

      <% if signed_in? %>
        <% if current_user.attending?(event) %>
          <p>Your RSVP Status is <strong><%= Attendance.rsvp_status(event, current_user) %></strong>
            <span class="glyphicon glyphicon-ok"></span></p>
        <% end %>

        <% if event.creator == current_user %>
          <p><%= link_to "edit", edit_event_url(event) %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="uk-card-footer">
    <a href="<%= event_url(event)%>"><span class="fa fa-globe"></span> View Details</a>
  </div>
</div>
