<% provide(:title, @event.title) %>

<% if signed_in? && @event.creator == current_user %>
  <%= link_to 'This is your event, would you like to edit?', edit_event_url(@event) %>
<% end %>

<div uk-grid>
  <div class="uk-width-2-3">
    <div class="jumbotron">
      <h3 class="uk-heading-divider"><%= @event.title %></h3>
      <p class="lead"><%= @event.desc %></p>
      <% if signed_in? %>

        <% if @attendance %>

          <p>You joined this event, please RSVP. Are you attending?
            <%= form_for @attendance, url: {action: 'rsvp'}, method: 'put' do |f| %>
              Yes <%= f.radio_button :RSVP_Status, '1', class: 'uk-radio' %>
              No <%= f.radio_button :RSVP_Status, '2', class: 'uk-radio' %>
              Maybe <%= f.radio_button :RSVP_Status, '3', class: 'uk-radio' %>
            <% end %>
          </p>

        <% else %>
          <p>
            <%= button_to 'Attend this event!', attend_event_path(@event), class: "uk-button uk-button-secondary teal", form: {style: 'display:inline-block;'}, method: :post %>
          </p>
        <% end %>
      <% end %>
    </div>

    <dl class="uk-description-list">
      <dt>When</dt>
      <dd><%= @event.event_date %> Starts <%= time(@event.event_start_time) %></dd>
      <dt>Where</dt>
      <dd><%= @event.addr %> <%= @event.street %> <%= @event.city %> <%= @event.state %> <%= @event.zip %></dd>
      <dt>Hosted by</dt>
      <dd><%= @event.event_host %></dd>
    </dl>

    <div class="row marketing">
      <% if @event.tags.any? %>
        <div class="col-lg-2">
          <h4>Interests: </h4>
        </div>
        <div class="col-lg-7">
          <% @event.tags.each do |tag| %>
            <button type="button" class="btn btn-secondary"><%= tag.name %></button>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
  <div class="uk-width-1-3">
    <h3>Who's attending</h3>
    <div class="">
      <% @event.users.each do |user| %>
        <aside class="uk-margin-bottom">
          <%= gravatar_for user, size: 52 %>
          <%= link_to user.name, user, class: 'uk-margin-left' %>
        </aside>
      <% end %>

    </div>
  </div>
</div>

