<% if signed_in? %>

  <h2>Hello, <%= current_user.name %>!</h2>

  <%= render 'shared/recommended_events' %>

<% else %>
  <div class="uk-text-center">
    <h2>Welcome to Group Up</h2>

    <p>This is the home page for starting your own group and joining the exciting world of groups and meets.</p>

    <div class="center">
      <%= link_to "Sign up now!", signup_path, class: 'uk-button uk-button-secondary teal' %>
    </div>
  </div>
<% end %>

<br>
<div class="uk-heading-divider"></div>

<%= render 'shared/popular_events' %>

<%= render 'shared/upcoming_events' %>

<%= render 'shared/categories' %>