<nav class="uk-navbar-container teal" uk-navbar>
  <div class="uk-navbar-left">

    <ul class="uk-navbar-nav">
      <li class="uk-active"><%= link_to "Group Up", root_path %></li>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Users", users_path %></li>
      <li>
        <a href="#">Account</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <% if signed_in? %>
              <li class="nav-item dropdown">
                <%= link_to "Profile", current_user %>
                <%= link_to "Settings", edit_user_path(current_user) %>
                <%= link_to "Sign out", signout_path, method: "delete" %>
              </li>
            <% else %>
              <li class="dropdown"><%= link_to "Sign in", signin_path %></li>
            <% end %>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Admin</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">

            <li class="nav-item dropdown">
              <%= link_to "Similarities", admin_similarities_path %>
              <%= link_to "Topics", admin_topics_path %>
            </li>

          </ul>
        </div>
      </li>
    </ul>

  </div>
</nav>